@page "/Testbed"

@using Page = TorahGatedCommunityDNF6.Links.Bible.Testbed
<PageTitle>@Page.Title</PageTitle>

<div class="pb-3 mt-4 mb-5 border-bottom border-info">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

<a href="https://www.blueletterbible.org/lang/lexicon/lexicon.cfm?strongs=H7777" target="_blank">H7777</a>

@*<Button @onclick="ToggleButtonClick" class="@Color btn-sm">
	@Title <i class='@Icon'></i>
</Button>*@

<p>
	<span class='nrl'>בְּ</span>רֵאשִׁית
</p>


<h4 id="OLHGen-1" class="text-muted">God creates heaven, earth, plants, animals a man named Adom</h4>
<h5 id="OLD1" class="text-muted text-end"> <i>God creates heaven and earth;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>1</b></sup>
	<a class='btn btn-danger btn-xs' href='/AlephTav/1'><sup><span class='hebrew'>את</span></sup></a>
	In the beginning God created the heaven and the earth.

	@if (ShowWordTable001)
	{
		<WordTable Id="1"></WordTable>
	}
	else
	{
		<a @onclick="@(() => OnClickShowWordTable(1))" class="btn btn-outline-info btn-xs">
			Id:1 <i class="fas fa-chevron-down"></i>
		</a>
	}
	And the earth was without form, and void; and darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters.
</p>

<p class="fs-5 ml-5">
	<sup><b>2</b></sup>
	And the earth was without form, and void; and darkness was upon the face of the deep. And the Spirit of God moved upon the face of the waters.
	@if (ShowWordTable002)
	{
		<WordTable Id="2"></WordTable>
	}
	else
	{
		<a @onclick="@(() => OnClickShowWordTable(2))" class="btn btn-outline-info btn-xs">
			Id:2 <i class="fas fa-chevron-down"></i>
		</a>
	}
</p>

<h5 id="OLD3" class="text-muted text-end"> <i>the light;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>3</b></sup> And God said, Let there be light: and there was light.
	<sup><b>4</b></sup> And God saw the light, that it was good: and God divided the light from the darkness.
	<sup><b>5</b></sup> And God called the light Day, and the darkness he called Night. And the evening and the morning were the first day.
</p>

<h5 id="OLD6" class="text-muted text-end"> <i>the firmament...</i></h5>
<p class="fs-5 ml-5">
	<sup><b>6</b></sup>  And God said, Let there be a firmament in the midst of the waters, and let it divide the waters from the waters.
	<sup><b>7</b></sup> And God made the firmament, and divided the waters which were under the firmament from the waters which were above the firmament: and it was so.
	<sup><b>8</b></sup> And God called the firmament Heaven. And the evening and the morning were the second day.
</p>

<h5 id="OLD9" class="text-muted text-end"> <i>separates the dry land;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>9</b></sup>  And God said, Let the waters under the heaven be gathered together unto one place, and let the dry land appear: and it was so.
	<sup><b>10</b></sup> And God called the dry land Earth; and the gathering together of the waters called he Seas: and God saw that it was good.
	<sup><b>11</b></sup> And God said, Let the earth bring forth grass, the herb yielding seed, and the fruit tree yielding fruit after his kind, whose seed is in itself, upon the earth: and it was so.
	<sup><b>12</b></sup> And the earth brought forth grass, and herb yielding seed after his kind, and the tree yielding fruit, whose seed was in itself, after his kind: and God saw that it was good.
	<sup><b>13</b></sup> And the evening and the morning were the third day.
</p>

<h5 id="OLD14" class="text-muted text-end"> <i>forms the sun, moon, and stars;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>14</b></sup>  And God said, Let there be lights in the firmament of the heaven to divide the day from the night; and let them be for signs, and for seasons, and for days, and years:
	<sup><b>15</b></sup> And let them be for lights in the firmament of the heaven to give light upon the earth: and it was so.
	<sup><b>16</b></sup> And God made two great lights; the greater light to rule the day, and the lesser light to rule the night: he made the stars also.
	<sup><b>17</b></sup> And God set them in the firmament of the heaven to give light upon the earth,
	<sup><b>18</b></sup> And to rule over the day and over the night, and to divide the light from the darkness: and God saw that it was good.
	<sup><b>19</b></sup> And the evening and the morning were the fourth day.
</p>

<h5 id="OLD20" class="text-muted text-end"> <i>fishes and fowls;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>20</b></sup>  And God said, Let the waters bring forth abundantly the moving creature that hath life, and fowl that may fly above the earth in the open firmament of heaven.
	<sup><b>21</b></sup> And God created great whales, and every living creature that moveth, which the waters brought forth abundantly, after their kind, and every winged fowl after his kind: and God saw that it was good.
	<sup><b>22</b></sup> And God blessed them, saying, Be fruitful, and multiply, and fill the waters in the seas, and let fowl multiply in the earth.
	<sup><b>23</b></sup> And the evening and the morning were the fifth day.
</p>

<h5 id="OLD24" class="text-muted text-end"> <i>cattle, wild beasts, and creeping things;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>24</b></sup>  And God said, Let the earth bring forth the living creature after his kind, cattle, and creeping thing, and beast of the earth after his kind: and it was so.
	<sup><b>25</b></sup> And God made the beast of the earth after his kind, and cattle after their kind, and every thing that creepeth upon the earth after his kind: and God saw that it was good.
</p>

<h5 id="OLD26" class="text-muted text-end"> <i>creates man in his own image, blesses him;</i></h5>
<p class="fs-5 ml-5">
	<sup><b>26</b></sup>  And God said, Let us make man in our image, after our likeness: and let them have dominion over the fish of the sea, and over the fowl of the air, and over the cattle, and over all the earth, and over every creeping thing that creepeth upon the earth.
	<sup><b>27</b></sup> So God created man in his own image, in the image of God created he him; male and female created he them.
	<sup><b>28</b></sup> And God blessed them, and God said unto them, Be fruitful, and multiply, and replenish the earth, and subdue it: and have dominion over the fish of the sea, and over the fowl of the air, and over every living thing that moveth upon the earth.
</p>

<h5 id="OLD29" class="text-muted text-end"> <i>grants the fruits of the earth for food.</i></h5>
<p class="fs-5 ml-5">
	<sup><b>29</b></sup>  And God said, Behold, I have given you every herb bearing seed, which is upon the face of all the earth, and every tree, in the which is the fruit of a tree yielding seed; to you it shall be for meat.
	<sup><b>30</b></sup> And to every beast of the earth, and to every fowl of the air, and to every thing that creepeth upon the earth, wherein there is life, I have given every green herb for meat: and it was so.
	<sup><b>31</b></sup> And God saw every thing that he had made, and, behold, it was very good. And the evening and the morning were the sixth day.
</p>
